@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --green : #1DBEB4;
    --dark_blue : #383B58;
    --blue: #545776;
    --white : #F3F1ED;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 2000px;
    
}

header {
    position: sticky;
    top: 0;
}

footer {
    position: sticky;
    bottom: 0;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.categories_contianer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


h3{
    margin: 0;
    margin-top: 10px;
}

.recomendations {
    display: none;
}

@media (min-width: 500px) {
    .categories{
        gap: 0;
    }
    .categories_contianer{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .recomendations {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .recomendations_container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

