

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    padding: 20px;
    gap: 4px;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 182%;
}

input {
    width: 100%;
    padding: 0;
    border-radius: 4px;
    border: 0;
    
}

button {
    width: 100%;
}

@media (min-width: 500px) {
    .container {
        display: flex;
        gap: 20px;
    }

}